{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'story_1/story_1.css' %}">
    <title>{{ name }}</title>
</head>
<body>
    <main class='d-flex flex-column flex-lg-row'>
        <div class="sidebar">
            <img src="{% static foto %}" alt="" class="img-thumbnail img-fluid">
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row">Nama</th>
                    <td>{{ name }}</td>
                </tr>
                <tr>
                    <th scope="row">Umur</th>
                    <td>{{ age }}</td>
                </tr>
                <tr>
                    <th scope="row">NPM</th>
                    <td>{{ npm }}</td>
                </tr>
                <tr>
                    <th scope="row">Angkatan</th>
                    <td>{{ angkatan }}</td>
                </tr>
                </tbody>
              </table>
        </div>
        <div class="content">
            <div class="content-body d-flex">
                <div class="list-group order-2">
                    <a class="list-group-item list-group-item-action" href="#list-item-1">Deskripsi Tentang Saya</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-2">Tempat Kuliah</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-3">Hobi</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-4">Riwayat Pendidikan</a>
                    <a class="list-group-item list-group-item-action" onclick="scrollToTop()">Back to top</a>
                </div>
                <div class='list order-1' data-spy="scroll" data-target="#navbar" data-offset="0">
                    <div class="list-content">
                        <div class="card-header">
                            <h2>Sedikit Tentang Saya</h2>
                        </div>
                        <div class='mobile-profile'>
                            <img src="{% static foto %}" alt="" class="img-thumbnail img-fluid">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th scope="row">Nama</th>
                                    <td>{{ name }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Umur</th>
                                    <td>{{ age }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">NPM</th>
                                    <td>{{ npm }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Angkatan</th>
                                    <td>{{ angkatan }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id='list-item-1' class="card">
                            <div class="card-header">
                                <h2>Deskripsi Tentang Saya</h2>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ deskripsi }}</p>
                            </div>
                        </div>
                        <div id='list-item-2' class="card">
                            <div class="card-header">
                                <h2>Tempat Kuliah</h2>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ tempat_kuliah }}</p>
                            </div>
                        </div>
                        <div id='list-item-3' class="card">
                            <div class="card-header">
                                <h2>Hobi</h2>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ hobi }} </p>
                            </div>
                        </div>
                        <div id='list-item-4' class="card">
                            <div class="card-header">
                                <h2>Riwayat Pendidikan</h2>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead class="thead-light">
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Jenjang Pendidikan</th>
                                        <th scope="col">Rentang Tahun</th>
                                        <th scope="col">Nama Sekolah</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in riwayat_pendidikan %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                {% for value in item.values %}
                                                    <td>{{ value }}</td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="social-media">
                            <h1 class='footer-title'>Media Sosial</h1>
                            <div class='social-media-item'>
                                <img src="{% static 'story_1/line.svg' %}" alt="">
                                <h1>audahaudah</h1>
                            </div>
                            <div class='social-media-item'>
                                <img src="{% static 'story_1/instagram.svg' %}" alt="">
                                <h1>@aud.ah</h1>
                            </div>
                            <div class='social-media-item'>
                                <img src="{% static 'story_1/gmail.svg' %}" alt="">
                                <h1>hanif.arkan@ui.ac.id</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
<script>
    const scrollToTop = () => {
        $(".list").animate({ scrollTop: 0 }, "fast");
    }
</script>
</html>
